<%= form_with url: search_path, data: {turbo: false} do |form| %>
  
  <div class="form-inline my-2 my-lg-0" >
    <%= form.text_field :description, class:"form-control  mr-sm-2", :required => true %>
    <%= form.submit "Search", class: "btm btn-outline-success my-2"%>
  </div>
<% end %>




